[submodule ".registry"]
	path = .registry
	url = https://github.com/sheinberglab/sheinberglab.r-universe.dev
	branch = HEAD
[submodule "dgread"]
	path = dgread
	url = https://github.com/SheinbergLab/dgread
	subdir = R
